.container {
  max-width: 800px;
  margin: auto;
  padding: 150px 40px;
}

h1, h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
}




.edit-button-1 {
  background-color: #0069d9;
  color: white;
  top: 100px;
  right: 20px;
  margin-top: 01px;
  margin-right: -80px;
  
  
}







.delete-button-2 {
  background-color: #0069d9;
  color: white;
 
  margin-right: -80px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
  margin-top: 20px;
  left: 140px;
  top: 55%;
  
  transform: translateY(-50%);
  right: 20px;
}
