#testmony-container {
    background: url('../img/banner7.jpg') no-repeat;
    background-size: cover;
    padding: 10em 0;
  }


/* banner */
#main-banner {
	background: url('../img/banner6.jpg') no-repeat;
}

 
#sendjobs-container {
	background: url('../img/banner2.jpg') no-repeat;
	background-size: cover;
	background-position: 0 25%;
	padding: 15em 0;
}

